HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified


NEXT_PUBLIC_STRAPI_URL=https://cms.divyagyanam.com
NEXT_PUBLIC_API_URL=https://cms.divyagyanam.com/api

https://divyagyanam.com/



cd divyagyanam-frontend

git status
git add .
git commit -m "Updated homepage UI and footer"
git push origin main


Frontend
cd /path/to/divyagyanam-frontend
git pull origin main
npm install
npm run build
pm2 restart divyagyanam-frontend

CMS
cd /path/to/divyagyanam-cms
git config --global --add safe.directory /home/divyagyanam/apps/cms/divyagyanam-cms
git pull origin main
npm install
npm run build
pm2 restart divyagyanam-cms
